#login {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ffffff;
	padding: 25px;

}

.boxer_input {
	display: block;
	margin-right: auto;
	margin-left: auto;

}
#whole_wrap {
	background-image: 
}

#main-nav {

    padding-bottom: 10px;
    width: 80%;
    margin-left: auto;
    height: 30px;
    margin-right: auto;
    min-width: 1000px;
    text-align: center
}

.info_image1 {
	clear: left;
	vertical-align: bottom;
	visibility: visible !important;
}

.1pic {
	visibility: hidden;
}
#userpic {
	margin: 5px;
}
.table_wrap {
	display: block;
	background-color: white;
	border: solid 2px black;
	width: 75%;
	min-width: 500px;
}
.inner_table_wrap {
	display: inline-block;
	border: solid 2px black;
	width: 70%;
	min-width: 300px;
}
#boxer_info {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 518px;
	height: 100px;
	visibility: hidden;
}

#index{
	
	background-color: #000000;
}
body {
	background-color: white;
}
html, body {
    margin: 0;
    height: 100%;
}


input {
	display: block;
}
#loginWrapper {
	margin-right: auto;
	text-align: center;
	display: block;
	background-color: blue;
	margin-left: auto;
}

.r211 {
	color: red;
	background-color: white;
	display: block;
	visibility: visible;
	height: 200px;
	width: 200px;
}


input[type=radio] + label {
    display:inline-block; 	
    border-color: #ddd;
    overflow: hidden;
    width: 200px;
    font-family: sans-serif;
    text-align: center;
}

input[type=radio] {
    display:none; 
   
}

input[type=radio]:checked + label { 
   background-image: none;
   background-color: #dcb439

;

}

td {
	font-family: helvetica;
	color: black;
}
@media (min-width:641px) { 
	input[type=radio] + label:hover { 

		background-color: #002b5b;
		color: white;

	}

}
#weight_header {
	color: #dcb439;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center
}
.own_block {
	display: block;
	overflow: hidden;
	width: 200px;
	border: 2px solid black;
}
#whole_wrap {
	width: 80%;
	min-width: 1000px;
	background-image: url("http://bengalbrackets.com/brackets/img/ben.jpg");
	background-position: center;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.inline_block {
	vertical-align: center;

	display: inline-block;
	width: 250px;
}

#bracket-wrap {
	height: 100%;
}

.radio-forms {
	background-color: white;
	position: absolute;
}

#total_submit {
	 position: fixed; /* or absolute */
	 height: 50px;
	 width: 200px;
	 font-size: large;
	 background-color: #022b5b;
	 color: white;
	 visibility: hidden;
  top: 50%;
  left: 50%;

	/*visibility: hidden;*/
}









ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #022b5b;
}

li {
    float: none;
     display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #dcb439;
}
#selected_weight {
	background-color: #dcb439;
}

a {
    display: block;
    padding: 8px;
    
}
