#login {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ffffff;
	padding: 25px;

}

body {
	background-color: white;
}

input {
	display: block;
}
#loginWrapper {
	margin-right: auto;
	text-align: center;
	display: block;
	background-color: blue;
	margin-left: auto;
}


input[type=radio] + label {
    display:inline-block;
    width: 10%;
	min-width: 100px;
    	
    border-color: #ddd;
    text-align: center;
}

input[type=radio] {
    display:none; 
   
}

input[type=radio]:checked + label { 
   background-image: none;
   background-color: gray;
}

.own_block {
	display: block;
	width: 10%;
	min-width: 100px;
	border: 2px solid black;
}

.inline_block {
	vertical-align: top;

	display: inline-block;
	width: 10%;
}

#bracket-wrap {
	height: 100%;
}

.radio-forms {
	width: 10%;
	position: absolute;
}

#total_submit {
	position: relative;
}