.mobile_title {
	text-align: center;
	width: 100%;
  font-size: 200%;
	text-align: center;
}
body {
	background-color: white;
}

h1 { font-family: 'Verdana', Arial, Helvetica, sans-serif; font-size:120%; }
input[type=radio] + label {
    display:inline-block; 	
    border-color: #ddd;
    overflow: hidden;
    background-size: 100%;
    font-family: sans-serif;
    
    text-align: center;
}
.form_container {
  visibility: hidden;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#form0 {
  visibility: visible;
}
label {
  width: 80%;
}
input[type=radio] {
    display:none; 
   
}
.fight_head {
  position: absolute;
}

#next_button {
  visibility: hidden;
}
#last_button {
  visibility: hidden;
}

#mobile_form {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

input[type=radio]:checked + label { 
   background-image: none;
   background-color: #dcb439


;

}